<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command name="item:preview"
               patch:instead="*[@type='Sitecore.Shell.Framework.Commands.PreviewItem,Sitecore.Kernel']"
               type ="Sitecore.Support.Shell.Framework.Commands.FixPreviewItem,Sitecore.Support.192715" />
      <command name="webedit:preview"
               patch:instead="*[@type='Sitecore.Shell.Applications.WebEdit.Commands.Preview, Sitecore.ExperienceEditor']"
               type ="Sitecore.Support.Shell.Applications.WebEdit.Commands.Preview, Sitecore.Support.505380" />
    </commands>
    <sitecore.experienceeditor.speak.requests>
      <request name="ExperienceEditor.Mode.SelectModeRequest"
               patch:instead="*[@type='Sitecore.ExperienceEditor.Speak.Ribbon.Requests.SelectMode.SelectModeRequest, Sitecore.ExperienceEditor.Speak.Ribbon']"
               type ="Sitecore.Support.ExperienceEditor.Speak.Ribbon.Requests.SelectMode.SelectModeRequest, Sitecore.Support.505380" />
    </sitecore.experienceeditor.speak.requests>
  </sitecore>
</configuration>
